{% load static %}

<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       {% block meta %} {% endblock %}
       <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title> {% block title %} Here's What We Got {% endblock %}</title>
    </head>
    <body>
        <p><a href="{% url 'notes_list' %}">View Notes</a>
            <a href="{% url 'notes_search' %}">Search Notes</a>
            <a href="{% url 'notes_add' %}">Add a Note</a>
        </p>
        <div>
        {% block content %}
        {% endblock %}
        </div>
        <p><a href="{% url 'contact_us' %}">Reach out!</p>
    </body>    
</html>