{% extends "notes/base.html" %}

{% block title %}{{ note.title }}{% endblock %}

{% block content %}
<div>
  <h3>{{ note.title }}</h3>
  <p>
    <pre>
      {{ note.body }}
    </pre>
  </p>
  <p>
    <pre>
      Note created at: {{ note.created_at }}
      Note updated at: {{ note.updated_at }}
    </pre>
  </p>
</div>
<div>
    <p>
        <a href="{% url 'notes_edit' pk=note.pk %}">Edit this note</a>
        <a href="{% url 'notes_delete' pk=note.pk %}">Delete this note</a>
    </p>
</div>
{% endblock %}